html {
    font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(12, 94%, 52%);
}
h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #ee400b;
    text-shadow: 3px 3px 1px rgb(128, 5, 5);
}
  
p, li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    color:hsl(12, 94%, 52%)
}
a {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 1px 
}
body {
    width: 660px;
    margin: 0 auto;
    background-color: #080800;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
}
